/* Spaces for the grid
========================================================================== */
@for $i from 1 through 15 {
    .u-space-h-#{$i} {
        margin-left: -(4px * $i);
        margin-right: -(4px * $i);

        > .l-grid__item {
            padding-left: 4px * $i;
            padding-right: 4px * $i;
        }
    }

    .u-space-v-#{$i} {
        margin-bottom: -(4px * $i);

        > .l-grid__item {
            margin-bottom: 4px * $i;
        }
    }
}

@each $name, $value in $breakpoints {
    @include media("<=#{$name}") {
        @for $i from 1 through 15 {
            .u-space-h-#{$i}\@#{$name} {
                margin-left: -(4px * $i);
                margin-right: -(4px * $i);

                > .l-grid__item {
                    padding-left: 4px * $i;
                    padding-right: 4px * $i;
                }
            }

            .u-space-v-#{$i}\@#{$name} {
                margin-bottom: -(4px * $i);

                > .l-grid__item {
                    margin-bottom: 4px * $i;
                }
            }
        }
    }
}
