@each $pallet, $value in $scotch-colors {
    @each $name in $value {
        $i: index($value, $name);

        .u-paint-#{$pallet}-#{$i} {
            color: #{$name};
            fill: #{$name};
        }

        .u-bg-#{$pallet}-#{$i} {
            background-color: #{$name};
        }
    }
}