/* Breakpoints
========================================================================== */
$breakpoints: (
    d-l: 1920px,
    d: 1440px,
    t: 1280px,
    t-m: 980px,
    m: 670px,
    m-s: 480px,
    m-t: 370px
);
