@import 'mixins';

/* Colors
========================================================================== */
$color_ruby_1: #db1a64;

$color_xiketic_1: #0f1020;

$color_keppel_1: #44bba4;

$color_true_blue_1: #3066be;

$color_tufts_blue_1: #3c91e6;

$color_white_1: #ffffff;
$color_white_2: shade($color_white_1, 5%);
$color_white_3: shade($color_white_1, 10%);

$color_dark_1: #0A090C;
$color_dark_2: tint($color_dark_1, 5%);
$color_dark_3: tint($color_dark_1, 10%);
$color_dark_4: tint($color_dark_1, 15%);
$color_dark_5: tint($color_dark_1, 20%);


$scotch-colors: (
    'ruby': (
        $color_ruby_1
    ),
    'keppel': (
        $color_keppel_1
    ),
    'xiketic': (
        $color_xiketic_1
    ),
    'true_blue': (
        $color_true_blue_1
    ),
    'tufts_blue': (
        $color_tufts_blue_1
    ),
    'dark': (
        $color_dark_1,
        $color_dark_2,
        $color_dark_3,
        $color_dark_4,
        $color_dark_5
    ),
    'white': (
        $color_white_1
        $color_white_2
        $color_white_3
    )
);


/* General
========================================================================== */
$transition_speed: 200ms;

/* Breakpoints
========================================================================== */
$breakpoints: (
    d-l: 1920px,
    d: 1440px,
    t: 1280px,
    t-m: 980px,
    m: 670px,
    m-s: 480px,
    m-t: 370px
);
